* {
    box-sizing: border-box;
    margin: 0px;
}

img {
    width: 100%;
    vertical-align: middle;
}

nav {
    font-family: Arial;
}

main div{
    background-color: #ECECEC;
    height: 400px;
    margin-top: 70px;
    border-top: 2px solid #1D4D69;
}

.nav_link {
    float: left;
    width: 14%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    margin-top: 15px;
    height: 55px;
    padding-bottom: 12.5px;
    padding-top: 12.5px;
    background-color: white;
}

.dropdown {
    float: left;
    width: 14%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 15px;
    height: 55px;
    overflow: hidden;
    background-color: white;
}

.nav_link a {
    font-size: 25px;
    color: #2E2E2E;
    text-decoration: none;
    width: 100%;
}

.dropdown_button {
    display: block;
    height: 55px;
    width: 100%;
    font-size: 25px;
    outline: none;
    border: none;
    background-color: white;
    text-align: center;
    align-items: center;
    padding-bottom: 12.5px;
    padding-top: 12.5px;
}

nav a:hover , .dropdown:hover .dropdown_button{
    color: #DD6F01;
}

.dropdown_links a:hover{
    /*background-color: rgba(0, 0, 0, 0.2);*/
    border: 2px solid #1D4D69;
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dropdown_links {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

.dropdown_links a{
    float: none;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #2E2E2E;
    width: 100%;
    font-size: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.dropdown:hover , .dropdown_links:hover{
    overflow: visible;
}
