.bio img {
  width:  100%;
  height: auto;
  margin-bottom: 6rem;
  display: block;
}

.bio {
  overflow: hidden;
}

.bio-txt {
  color: var(--dark-blue);
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.bio h2 {
  width: fit-content;
  margin-left: 2rem;
  padding-right: 1rem;
  border-bottom: 0.2rem solid var(--light-grey);
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.bio-txt p {
  max-width: 40rem;
  padding: 2rem;
}

@media only screen and (min-width: 1024px){
  .bio img {
    width: 100%;
  }

  .bio-txt {
    flex-direction: row;
  }

  .bio-separetor[data-notlast] {
    margin-top: 39px;
  }

  .bio-txt p {
    text-align: justify;
  }
}

@media only screen and (min-width: 480px){
  .bio img {
    content: url('../images/bio/bio_background_3.jpg');
  };
}