.contact-window {
    color: var(--dark_blue);
    /* border-top: 0.2rem solid var(--light-grey); */
    padding: 2rem;
    background-color: var(--bg-green);
    
    position: relative;
}

.contact-window h2 {
    border-bottom: 0.3rem solid var(--light-gray-d);
    margin-bottom: 2rem;
    width: fit-content;
    padding-right: 1rem;
    margin-top: 4rem;
}

.contact-window p {
    display: inline-block;
}

.contact-mail {
    color: var(--yellow);
    display: inline-block;
    padding-left: 1rem;
    font-size: 1.1rem;
}

.footer {
    margin-top: 50vh !important;
}

@media only screen and (min-width: 480px){
    .footer {
        margin-top: 100vh !important;
    } 
}