
.footer {
    min-height: 10rem;
    border-top: 0.15rem solid var(--light-grey);
    color: var(--dark_blue);
    font-weight: 400;
    padding-top: 1rem;
    margin-top: 10rem;
    font-weight: 500;
}

.copyright {
    margin: auto;
    width: fit-content;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
}

.footer-links {
    margin: auto;
    width: fit-content;
}

.footer-links a {
    color: var(--dark_blue);
    text-decoration: none;
    padding: 0 1rem 0 1rem;
}

.footer-links a:focus {
    outline: none;
    color: var(--yellow);
}

.footer-links a[data-left-border] {
    border-left: 0.1rem solid var(--dark_blue);
}
