.inf-content {
    color: var(--dark-blue);
    padding: 2rem;
}

.inf-content > p {
    max-width: 30rem;
}

.inf-content a {
    padding: 0 0.3rem 0 0.3rem;
    color: var(--yellow);
    outline: none;
    text-decoration: none;
}
  
.inf-content a:hover {
    text-decoration: underline;
}

.inf-content > h2 {
    border-bottom: 0.3rem solid var(--light-grey);
    width: fit-content;
}

.inf-content > * {
    margin-bottom: 1rem;
}

.img-window {
    box-sizing: content-box;
    width: 100%;
    height: 80vh;
    margin: auto;
    position: relative;
    padding: 4rem 0rem 4rem 0rem;
    border-bottom: 0.15rem solid var(--light-grey);
    background-color: rgb(209, 208, 208);
}

.prev:hover, .next:hover {
    transform: scale(1.2);
    transition: transform 400ms ease;
}

.prev:not(:hover), .next:not(:hover) {
    transform: scale(1);
    transition: transform 400ms ease;
}

.img-window > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: fade-in 500ms forwards;
}

.gallery-button {
    cursor: pointer;
    position: absolute;
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    top: 50%;
    color: var(--dark-blue);
}

.gallery-button:hover {
    color: var(--yellow);
}

.prev {
    left: 1rem;
    background-image: url('../images/icons/left_arrow_blue.jpg');
    background-size: 100% auto;
}

.next {
    right: 1rem;
    background-image: url('../images/icons/right_arrow_blue.jpg');
    background-size: 100% auto;
}

@keyframes fade-in {
    0%{
        opacity: 0.6;
    }
    100%{
        opacity: 0;
    }
}

.back-link {
    display: none !important;

    display: block;
    color: var(--dark-blue);
    text-decoration: none;
    position: absolute;
    top: 4rem;
    right: 0;
    font-size: 1rem;
    width: 1.7rem;
    height: 1.7rem;
    background-image: url("../images/img_close_icon.jpg");
    background-size: 100% auto;
    border-radius: 50%;
}
