/* ---------- gallery nav ----------- */

.gallery-nav-container {
  background-color: var(--bg-green);
  margin-bottom: 1rem;
  padding: 1rem;
}

.gallery-nav {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  flex-wrap: wrap;
}

.gallery-nav-link {
  text-decoration: none;
  color: var(--dark_blue);
  padding: 0.5rem;
  
}

.gallery-nav-link-select {
  padding: 0.4rem;
  border: 0.1rem dashed var(--dark-gray);
}

.gallery-nav-link:hover {
  border: 0.1rem dashed var(--dark-gray);
  padding: 0.4rem;
  outline: none;
}

.gallery-nav-link:focus {
  color: var(--yellow);
  outline: none;
}

.gallery-nav h2 {
  color: var(--dark_blue);
  border-bottom: 0.3rem solid var(--light-gray-d);
  font-weight: 600;
  margin-right: 100vmax;
}

.gallery-nav-container > p {
  color: var(--dark_blue);
  max-width: 50rem;
}

.gallery-nav-container h3 {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: var(--dark_blue);
}

@media only screen and (min-width: 480px){
  .gallery-nav-container {
    padding: 3rem;
  }

  .gallery-nav h2 {
    margin-right: 0;
  }
}

/* ---- gallery ----- */

.gallery {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  column-gap: 1rem;
}

.img-con {
  overflow: hidden;
}

.gallery img {
  cursor: pointer;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  transform-origin: bottom;
  animation: none;
}

.gallery img:not(:hover) {
  animation: zoom-out 300ms forwards;
}

.gallery img:hover, .gallery img:focus {
  animation: zoom-in 900ms forwards;
  animation-timing-function: ease;
}

.gallery img:focus{
  outline: none;
  border: 0rem solid var(--yellow);
}

@keyframes zoom-out {
  0%{
    transform: scale(1.03);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes zoom-in {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.03);
  }
}

@media only screen and (min-width: 640px){
  .gallery {
    grid-template-columns: auto auto auto;
  }
}
/*
@media only screen and (min-width: 1024px){
  .gallery {
    grid-template-columns: auto auto auto auto;
  }
}*/

/* ----- big images -------- */

.big-img-con[open] {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: auto;
  background-color: transparent;
  max-width: 90vw !important;
}

.big-img-con[open]::backdrop {
  background: rgba(20, 20, 20, 0.83);
  opacity: 0;
  animation: big-img-opacity 0.5s forwards;
}

.big-img-con img {
  display: block;
  width: 90vw;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.img-info {
  position: relative;
  padding-top: 2rem;
  color: var(--light-grey);
  /* background-image: radial-gradient(at center left, 
  rgb(0 0 0/ 0.5) 50%, rgb(0 0 0/ 0) 100%); */
}

.img-info > * {
  position: relative;
  padding: 0.7rem 0 0.7rem 0;
}

.img-info > h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 0.2rem;
  background-color: var(--light-grey);
}

.img-info a {
  padding: 0 0.3rem 0 0.3rem;
  color: var(--yellow);
  outline: none;
  text-decoration: none;
}

.img-info a:hover {
  text-decoration: underline;
}

.close-img {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  top: 3rem;
  right: 0%;
  background-image: url("../images/icons/img_close_icon.jpg");
  background-size: 100% auto;
  cursor: pointer;
}

.close-img::after {
  display: none;
}

.detail-link {
  margin: 2rem 0 0 0rem;
  display: block;
  padding: 0.5rem !important;
  width: fit-content;
  border-radius: 0px;
  border: 0.12rem dashed var(--light-grey);
  cursor: pointer;
  text-decoration: none !important;
  color: var(--light-grey) !important;
}

.detail-link::after {
  display: none;
}

@keyframes big-img-opacity {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media only screen and (min-width: 640px){
  .big-img-con[open] {
    flex-direction: row;
  }

  .big-img-con img[data-horizontal] {
    width: 50vw;
    max-width: 100vh;
    max-width: 50vw;
  }

  .big-img-con img[data-vertical] {
    height: 90vh;
    width: auto;
    max-height: 60vw;
  }

  .img-info {
    /* max-width: 20rem;*/
    padding-top: 0;
    padding-left: 2rem;
    max-width: 30vw;
  }

  .close-img {
    top: 1rem;
    right: 10%;
  }
}
