:root {
  --dark_blue: #13435E;
  --dark-blue: #13435E; /*#13435E */
  --dark-blue-d: #0C344A;
  --dark-gray: #424949;
  --yellow: #B9770E;
  --grey: #34495E;
  --light-grey: #BFC9CA;
  --light-gray-d: #A0A6A6;
  --light-grey-l: #CFDBDC;
  --bg-contrast: #D7D7D7;
  --bg-gray: #333636;
  --bg-green: var(--light-grey); /* grey:#CECECE green:#9CCC65 blue:#ABB6D6 wislybrown:#BCAAA4 sand:#C2B280 dark-green:#7BB661 light-blue:#bec8e4*/
  --bg: #E5E7E9; /*#E5E7E9 */
  --normal-font-size: 1rem;
  --font-main: calibri, helvetica;
  --layout-max-width: 1680px;
  --border-radius-normal: 0.5rem; 
}

.no-select {
  -webkit-tap-highlight-color: transparent;
}

.no-select:focus {
  outline: none !important;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: var(--bg); /* B7B7B7, E5E7E9 */
  margin: 0px 50px 0px 50px;
  max-width: var(--layout-max-width);
  font-family: var(--font-main);
}

@media only screen and (min-width: 1680px){
  body {
     margin: auto;
  }
}

@media only screen and (max-width: 480px){
  body {
     margin: 0;
  }
}

*[data-number-txt] {
  font-family: candara;
}