:root {
    --dark_blue: #13435E;
    --yellow: #B9770E;
    --grey: #34495E;
    --light-grey: #BFC9CA;
    --bg-contrast: #D7D7D7;
    --normal-font-size: 16px;
    --font-main: calibri, helvetica;
    --layout-max-width: 1080px;
}

::-webkit-scrollbar {
  width: 13px
}

::-webkit-scrollbar-thumb {
  background-color: #A6ACAF;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #797D7F;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: #E5E7E9; /* B7B7B7, E5E7E9 */
}

/* ----- menu ----- */

#mb-map-link {
  border-left: 2px solid var(--yellow) !important;
}