/* ------ header mobile-------*/

.header-mb {
  z-index: 1;
  height: 80px;
  padding-top: 1rem;
}

.menu-button, .menu-button-close {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--bg);
  display: block;
  cursor: pointer;
}

.menu-button {
  margin-left: 1rem;
  background-image: url("../images/icons/menu_open_icon.jpg");
  background-size: 100% auto;
}

.menu-button-close {
  width: 2rem;
  height: 2rem;
  right: 1rem;
  top: 1rem;
  background-image: url("../images/icons/menu_close_icon.jpg");
  background-size: 100% auto;
}

.menu-mb {
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 320px;
  height: 100vh;
  animation: show-menu-mb 600ms forwards;
  padding: 0;
  border: none;
  background: var(--bg);
  max-height: none !important;
  overflow: hidden;
  /* border-top: 0.1rem solid var(--light-grey); */
}

.menu-mb[data-closing] {
  animation: hide-menu-mb 250ms forwards;
}

.menu-mb::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

.menu-mb::backdrop {
  animation: fade-in 600ms forwards;
  animation-timing-function: linear;
}

.menu-mb[data-closing]::backdrop {
  animation: fade-out 250ms forwards;
  animation-timing-function: linear;
}

@keyframes show-menu-mb {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes hide-menu-mb {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fade-out {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.mb-menu-link {
  width: fit-content;
  max-width: 240px;
  display: block;
  position: relative;
  color: var(--dark-blue);
  border-left: 0.2rem solid var(--dark-blue);
  margin: 1rem 0 1rem 0;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  padding: 0 1rem 0 1rem;
  outline: none;
  transform: translateX(-8%);
  animation: slide-in-link 350ms forwards;
  animation-delay: 400ms;
}

@keyframes slide-in-link {
  0%{
    transform: translateX(-8%);
  }
  100%{
    transform: translateX(0%);
  }
}
.yellow-link {
  border-left: 0.2rem solid var(--yellow);
}

.modal-fiter {
  width: 100%;
  height: 100%;
}

.pp-link {
  display: block;
  text-decoration: none;
  color: var(--dark-blue);
  width: fit-content;
  margin: auto;
  font-size: 1.2rem;
}

.pp-link > h1 {
  width: fit-content;
  font-weight: 100 !important;
}

.menu-sep {
  width: 100%;
  height: 0.1rem;
  background-color: var(--light-grey);
}

@media only screen and (min-width: 480px){
  .menu-button {
    margin-left: 0;
  }

  .menu-mb {
    padding-left: 50px;
  }
}

/* ------- header desktop ------ */
  
.header-ds {
  display: none;
  margin: auto;
}
  
@media only screen and (min-width: 960px){
  .header-ds {
    display: block;
  }
  
  .header-mb {
    display: none;
  }
}
  
.header-ds {
  position: relative;
  height: 100px;
}
  
.header-ds h1 {
  position: absolute;
  bottom: 20px;
  /* left: 10%; */
  color: #13435E;
  font-family: calibri;
  font-size: 40px;
  letter-spacing: 0.1em;
  font-weight: 100;
}
  
.nav_box {
  float: right;
  height: 50px;
  margin-top: 50px;
  padding: 0px 14px 0px 14px;
}
  
.nav_box>div {
  padding: 3px 6px 0px 6px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #13435E;
  font-family: calibri, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.15em;
  transition: color 0.3s ease, padding 0.3s ease;
}
  
.nav_box:hover>div, a:focus>.nav_box>div {
  border-bottom: 2px dotted #A6ACAF;
  padding-top: 0px;
  padding-bottom: 3px;
  color: #B9770E;
}

.header-ds > a {
  outline: none;
}
