.home-header {
  padding: 100px 20px 10px 20px;
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
  border-bottom: 3px solid var(--light-grey);
  font-size: 28px;
  color: var(--dark_blue);
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 480px){
  .home-header {
     padding: 50px 20px 10px 20px;
     margin-bottom: 25px;
     font-size: 22px;
  }
}

/* ----- menu ----- */

#mb-home-link {
  border-left: 0.2rem solid var(--yellow) !important;
}

/* ---- slideshow ------*/

.slide_show_container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
    
.slide_show_frame {
  display: none;
}
  
.slide_show_frame>img {
  display: block;
  width: 150%;
  height: auto;
  transform: translateX(-16.666%);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.75rem;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

.prev:hover, .next:hover {
  transform: scale(1.2);
  transition: transform 400ms ease;
}

@media only screen and (min-width: 480px){
  .prev, .next {
    width: 3rem;
    height: 3rem;
  }

  .slide_show_frame>img {
    width: 100%;
    transform: none;
  }
}

.next {
  background-image: url('../images/icons/right_arrow_white.jpg');
  background-size: 100% auto;
}

.prev {
  background-image: url('../images/icons/left_arrow_white.jpg');
  background-size: 100% auto;
}

.next {
  right: 0;
}

.prev:visited, .next:visited {
  background-color: none;
}

.dot_menu {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -49px;
}
  
.dot {
  cursor: pointer;
  height: 6px;
  width: 30px;
  margin: 0 2px;
  border-radius: 3px;
  background-color: white;
  display: inline-block;
  transition: background-color 0.6s ease;
}
    
.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}
    
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ----- content sneakpeak ------ */

.split {
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 3rem;
}

.content_window {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
}

.content_window > img {
  width: 100%;
  height: auto;
}

.content_window > h2 {
  padding-top: 10px;
  
  font-weight: 400;
  color: #13435E;
}

.content_window > p {
  padding: 10px 0px 10px 0px;
  color: var(--dark_blue);
  font-size: var(--normal-font-size);
}

.content_window > a {
  text-decoration: none;
}

.more_text {
  font-size: 16px;
  font-family: calibri, arial;
  color: var(--yellow);
  font-weight: bold;
  transition: 0.4s ease;
}

.content_window > a:hover >.more_text {
  margin-right: 4px;
}

.more_icon {
  position: relative;
  top: 2px;
  font-size: 16px;
  color: var(--yellow);
  font-weight: bold;
}

@media only screen and (min-width: 760px){
  .split {
      flex-direction: row;
  }

  .content_window {
    padding: 0;
    width: calc(1/3*(100%-6rem));
  }

  .content_window > p {
    padding: 10px 0px 30px 0px;
  }
}

/* ------ upcoming exibitions ------ */ 
